@tailwind base;
@tailwind utilities;
@tailwind components;


body {
  @apply font-cabin bg-pry-clr-0;
}

#root {
  @apply mt-32 mb-14;
}

.trans {
  @apply transition-all ease-linear duration-300;
}

main {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  @apply bg-white rounded-lg h-[325px] w-[93vw] max-w-[300px] py-10 px-6 mx-auto;
}

.expr-cvv {
  @apply flex gap-5 mt-9;
}

input {
  @apply bg-transparent border-0 border-b-[2px] border-b-white block w-full px-0 text-[18px];
}

input:focus,
input:valid {
  @apply outline-none border-b-[lightblue];
}

label {
  @apply tracking-wider;
}

.btn {
  @apply w-full p-4 bg-blue-600 border-0 rounded-lg shadow-lg text-white tracking-widest text-xl mt-9 capitalize trans;
}